body{
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.content{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: aliceblue;
    border-radius: 0px 10px 10px 0px;
}
.product{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}
.content p:first-child{
    letter-spacing: 4px;
    font-size: 14px;
    margin: 0px;
}
.content h1{
    margin: 0px;
}
.content p:nth-child(3){
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
}
.content p:nth-child(4){
    font-size: 40px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    margin: 0px;
}
.content p:nth-child(4) span{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    margin: 0px;
}
.content button{
    border: none;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    word-spacing: 2px;
    font-weight: 700;
    color: white;
}
@media (max-width:375px){
    main{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
    }
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
    .product{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .content{
        border-radius: 0px 0px 10px 10px;
    }
}
